{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <div class="logo">
        <a href="{% url 'main' %}"><img src="{% static 'image/site_logo.png' %}" height="100px"></a>
    </div>
    <nav>
        <a href="{% url 'slides' 1 %}">Видео-уроки</a>
        <a href="{% url 'test' %}">Тест</a>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>


</body>
</html>